@import '../../styles/include.scss';
.component{
    width: 100%;
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: rgba(0,0,0,0.5);
    // backdrop-filter: blur(20px);
}
@keyframes itemIn{
    0%{opacity: 0; transform: translate3d(0,400px,0);}
    100%{opacity: 1; transform: translate3d(0,0,0);}
}

@keyframes itemOut{
    0%{opacity: 0; transform: translate3d(0,500px,0);}
    100%{opacity: 1; transform: translate3d(0,0,0);}
}

.keyboardInner{
    width: 60%;
    :global(.hg-button){
        height: 80px;
        font-family: Mulish, sans-serif;
    }
    :global(.hg-theme-default){
        padding:10px;
        width: calc(100% + 20px);
        margin-left: -10px;
    }
    font-size: 18px;
    font-weight: bold;
}
.top{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-bottom:20px;
    position: relative;
    right: -10px;
}
.go, .cancel{
    width: 200px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: regular;
    margin-left: 10px;
    border-radius: 4px;
    color: $black;
    background-color: $white;
    font-size: 18px;
    svg{
        font-size: 22px;
        margin: 0 10px;
    }
}
.go{
    width: 300px;
    svg{
        margin-left: -10px;
    }
    animation: itemOut 400ms $ease-out-quint both;
}
.cancel{
    svg{
        margin-left: -2px;
    }
    animation: itemIn 800ms $ease-out-quint both;
}
.keyboardPrev{
    width: 100%;
    height:60px;
    background-color: $white;
    margin-bottom: 20px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    animation: itemIn 600ms $ease-out-quint both;
}
.kb{
    animation: itemOut 1000ms $ease-out-quint both;
}
.clear{
    position: absolute;
    right: 20px;
    height:100%;
    top: 0;
    display: flex;
    align-items: center;
    color: $gold;
    font-weight: 400;
    font-size: 18px;
    svg{
        font-weight: bold;
        font-size: 24px;
        margin-right: 10px;
        position: relative;
        top:-1px;
    }
    animation: itemIn 200ms $ease-out-quint both;
}