@import '../../styles/include.scss';

.wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 919px;
  min-height: 1080px;
  background-color: white;
  margin-left: 147px;
  padding: 50px 0 0 31px;
}

.navlink{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #967A46;
  cursor: pointer;
}

.content{
  display: flex;
  margin-top: 50px;
}