@import '../../styles/include.scss';

.component{
	width: 100%;
	height:100%;
	position: absolute !important;
	top: 0;
	left: 0;
}
.prev,.next{
	position: absolute;
	z-index:2;
	width: 16vw;
	height: 10vw;
	top:calc(50% - 5vw);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	svg{
		color: $gold;
		font-size: 96px;
	}
}
.prev{
	left:0;
}
.next{
	right:0;
}
.slider{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index:1;
}
@keyframes slide-in{
	0%{
		opacity: 0;
		transform: translate3d(0, 100px, 0);
	}
	100%{
		opacity:1;
		transform: translate3d(0, 0, 0);
	}
}
.slide{
	visibility: hidden;
	opacity:0;
	animation: slide-in 800ms 150ms $ease-out-quint both;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	&.isActive{visibility: visible; opacity: 1;}
	img{
		max-width: 1200px;
		max-height: 750px;
		min-height: 400px;
		width: auto;
		height: auto;
		border: 3px solid $white;
	}
}
.counter{
	margin-top: 40px;
	width: 1080px;
	text-align: left;
	color: $gold;
	font-size: 20px;
	font-family: Lustria, serif;
	text-align: center;
}
.desc{
	color: $white;
	width: 1080px;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	&:before{
		content: '';
		height: 1px;
		width: 200px;
		display:block;
		background-color: $white;
		margin: 20px auto;
	}
}


.videoPlayer{
	position: relative;
	box-sizing: border-box;
	width: 840px;
	height: 672px;
	border: 2px solid $white;
	padding: 0;
	overflow: hidden;
	background-size: cover;
	video{
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: none;
	}
	&:not(.videoStarted), &.videoPaused{
		.playIcon{
			display: flex;
		}
	}
	&.videoStarted:not(.videoPaused){
		.pauseIcon{
			display: flex;
		}
		.restart{
			display: flex;
		}
	}
	&.videoStarted{
		background-color: $black;
		background-image: none !important;
		video{
			display: block;
		}
	}
}

.slider[data-length='1'] .videoPlayer{
	width: 1120px;
	height: 627px;
}


.playIcon, .pauseIcon, .restart{
	display: none;
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	svg{
		font-size: 96px;
		color: $white;
		filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
	}
}
.pauseIcon, .restart{
	padding: 40px;
	align-items: flex-end;
	justify-content: flex-end;
	svg{
		font-size: 72px;
	}
}
.restart{
	width: 46px;
	height: 46px;
	padding: 0;
	top: auto;
	left: auto;
	bottom: 55px;
	right: 120px;
	svg{
		font-size: 42px;
	}
}
.progress{
	position: absolute;
	z-index: 2;
	left: 0;
	bottom: 0;
	height:20px;
	background-color: #fff;
}