@import '../../styles/include.scss';

.wrapper{
  width: 100%;
  position: relative;
  //make this the white background component
  &::before{
    content: "";
    width: 32px;
    height: 100%;
    left: 100%;
    background-color: #3E6CB3;
    position: absolute;
  }
  &[data-width="wide"]{
    //wide width
  }
  &[data-width="narrow"]{
    //wide width
  }
}