@import '../../styles/include.scss';

.wrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 1080px;
  background-color: unset;
  h2{
    margin-top: 0;
    margin-bottom: 50px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 46px;
    line-height: 132%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #967A46;
  }
  h3{
    margin: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 132%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #967A46;
  }
}

.content{
  padding: 142px 88px 75px 53px;
  &_logo{
    padding: 112px 88px 75px 53px;
  }
}

.logo{
  display: block;
  margin-bottom: 40px;
}

.description{
  height: 530px;
  p{
    margin:0 0 20px 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #403D3D;
  }
}

.outline{
  width: 134px;
  height: 1px;
  background-color: #967A46;
  margin-bottom: 54px;
}

.link{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: 75.6px;
  text-transform: capitalize;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #967A46;
  cursor: pointer;

  &::before{
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='57' height='57' viewBox='0 0 57 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.0899 0C27.1773 0 26.4375 0.73981 26.4375 1.65234V54.7477C26.4375 55.6602 27.1773 56.4 28.0899 56.4C29.0024 56.4 29.7422 55.6602 29.7422 54.7477V1.65234C29.7422 0.73981 29.0024 0 28.0899 0Z' fill='%23967A46'/%3E%3Cpath d='M34.6992 8.49219C33.7867 8.49219 33.0469 9.232 33.0469 10.1445V46.2554C33.0469 47.168 33.7867 47.9078 34.6992 47.9078C35.6118 47.9078 36.3516 47.168 36.3516 46.2554V10.1445C36.3516 9.232 35.6118 8.49219 34.6992 8.49219Z' fill='%23967A46'/%3E%3Cpath d='M41.3086 16.0206C40.3961 16.0206 39.6562 16.7604 39.6562 17.6729V38.7272C39.6562 39.6397 40.3961 40.3795 41.3086 40.3795C42.2212 40.3795 42.961 39.6397 42.961 38.7272V17.6729C42.961 16.7603 42.2212 16.0206 41.3086 16.0206Z' fill='%23967A46'/%3E%3Cpath d='M47.918 20.0734C47.0054 20.0734 46.2656 20.8132 46.2656 21.7257V34.6744C46.2656 35.5869 47.0054 36.3267 47.918 36.3267C48.8305 36.3267 49.5703 35.5869 49.5703 34.6744V21.7257C49.5703 20.8132 48.8305 20.0734 47.918 20.0734Z' fill='%23967A46'/%3E%3Cpath d='M54.5273 23.3781C53.6148 23.3781 52.875 24.1179 52.875 25.0304V31.3697C52.875 32.2822 53.6148 33.022 54.5273 33.022C55.4399 33.022 56.1797 32.2822 56.1797 31.3697V25.0304C56.1797 24.1179 55.4399 23.3781 54.5273 23.3781Z' fill='%23967A46'/%3E%3Cpath d='M21.4805 8.49219C20.5679 8.49219 19.8281 9.232 19.8281 10.1445V46.2554C19.8281 47.168 20.5679 47.9078 21.4805 47.9078C22.393 47.9078 23.1328 47.168 23.1328 46.2554V10.1445C23.1328 9.232 22.393 8.49219 21.4805 8.49219Z' fill='%23967A46'/%3E%3Cpath d='M14.8711 16.0206C13.9586 16.0206 13.2188 16.7604 13.2188 17.6729V38.7272C13.2188 39.6397 13.9586 40.3795 14.8711 40.3795C15.7836 40.3795 16.5234 39.6397 16.5234 38.7272V17.6729C16.5234 16.7603 15.7836 16.0206 14.8711 16.0206Z' fill='%23967A46'/%3E%3Cpath d='M8.26172 20.0734C7.34918 20.0734 6.60938 20.8132 6.60938 21.7257V34.6744C6.60938 35.5869 7.34918 36.3267 8.26172 36.3267C9.17425 36.3267 9.91406 35.5869 9.91406 34.6744V21.7257C9.91406 20.8132 9.17425 20.0734 8.26172 20.0734Z' fill='%23967A46'/%3E%3Cpath d='M1.65234 23.3781C0.739809 23.3781 0 24.1179 0 25.0304V31.3697C0 32.2822 0.739809 33.022 1.65234 33.022C2.56488 33.022 3.30469 32.2822 3.30469 31.3697V25.0304C3.30469 24.1179 2.56488 23.3781 1.65234 23.3781Z' fill='%23967A46'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
    display: block;
    width: 57px;
    height: 57px;
    margin-right: 26px;
  }
}

.buttonLink{
  width: 246px;
  height: 78px;
  background: #967A46;
  border-radius: 10px;
  font-family: 'Lustria';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #FFFFFF;
}

.mediaLink{
  position: absolute;
  bottom: calc(0% + 75px);
}
