.title{
  position: absolute;
  width: 452px;
  height: 60px;
  left: 734px;
  top: 65px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #C09B57;
}
.back{
  position: absolute;
  width: 60px;
  height: 26px;
  left: 930px;
  top: 141px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  color: #C09B57;
}