@import '../../../styles/include.scss';

.wrapper{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  &_right{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    height: 100%;    
  }
  &_row{
    @extend .wrapper;
    flex-direction: row;
    a{
      text-decoration: none
    }
  }
  &_column{
    @extend .wrapper;
    flex-direction: column;
    &_hallfame{
      @extend .wrapper_column;
      padding: 15px 0 50px 10px;
      align-content: space-between;
      justify-content: space-between;
      p{
        max-width: 543px;
        margin-top: 35px;
        font-family: 'Lato';
        font-style: italic;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.38;
        align-items: center;
        color: #FFFFFF;
      }
    }
    &_two{
      @extend .wrapper_column;
      align-items: center;
      justify-content: space-evenly;
      width: 1100px;
      max-width: 1100px;
      height: 100%;
      max-height: 1080px ;
    }
  }
  &_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 42px 55px 0;
    cursor: pointer;
  }
  &_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 380px;
    height: 350px;
    overflow: hidden;
    border: 4px solid #FFFFFF;
    border-bottom: none;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 1;
  }
  &_sideway{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    bottom: 0;
  }
}

.inner_right{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 80px 0 0 115px;
  color: aliceblue;
}

// This section is for the media player

.media{
  position: relative;
  width: 890px;
  max-width: 890px;
  height: 422px;
  max-height: 422px;
  border: 16px solid #3E6CB3;
  color: #FFFFFF;
  overflow: hidden;
  &_wrapper{
    position: relative;
  }
  &_one{
    @extend .media;
    width: 932px;
    max-width: 932px;
    height: 621px;
    max-height: 621px;
  }
  &_thumbnail_caption{
    margin-left: 5px;
    margin-top: 5px;
    max-width: 890px;
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    text-align: left;
  }
}

.gallery{
  &_control{
    &_background{
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 1;
      width: 305px;
      height: 100%;
      backdrop-filter: blur(2px);
      &::after{
        content:"";
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 305px;
        height: 100%;
        background: #1F1F1F;
        opacity: 0.8;
        z-index: -1;
      }
      h3{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 152%;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #C09B57;
        margin: 0 0 50px 0;
      }
    }
    &_wrapper{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 0px 55px;
      justify-content: center;
    }
    &_title{
      font-family: 'Lustria';
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 1.20;
      color: #C09B57;
      &::after{
        content: "";
        display: block;
        width: 92px;
        height: 1px;
        margin: 10px 0 20px 0;
        background-color: #FFFFFF;
      }
    }
    &_video{
      content: "";
      display: block;
      width: 57px;
      height: 57px;
      background-image: url("data:image/svg+xml,%3Csvg width='57' height='57' viewBox='0 0 58 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29 0C12.9837 0 0 12.7599 0 28.5C0 44.2401 12.9837 57 29 57C45.0163 57 58 44.2401 58 28.5C58 12.7599 45.0163 0 29 0ZM21.0763 40.8958V16.1042L42.9232 28.5L21.0763 40.8958Z' fill='white'/%3E%3C/svg%3E");
    }
    &_gallery{
      display: block;
      padding: 15px;
      background: #3E6CB3;
      border-radius: 7px;
      font-family: 'Lustria';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      align-items: center;
      text-align: center;
      color: #FFFFFF;
    }
  }
}

// This section is for a person

.navlink{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #967A46;
  cursor: pointer;
}

.content{
  display: flex;
  margin-top: 50px;
}

.banner{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: space-between;
  width: 444px;
  height: 62px;
  background-color: #3E6CB3;
  padding: 0 30px;
  z-index: 2;
  &::before{
    content: "";
    position: absolute;
    display: block;
    background-color: #1E2934;
    top: -32px;
    left: 0;
    width: 32px;
    height: 32px;
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  }
  &::after{
    content: "";
    position: absolute;
    display: block;
    background-color: #1E2934;
    top: -32px;
    right: 0;
    width: 32px;
    height: 32px;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
  }
  h2{
    font-family: 'Lustria';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 132%;
    align-items: center;
    color: #FFFFFF;    
  }
}

.playbutton{
  content: "";
  display: block;
  width: 18px;
  height: 22px;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='22' viewBox='0 0 18 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 11L0.750001 21.3923L0.750002 0.607695L18 11Z' fill='white'/%3E%3C/svg%3E%0A");
}

.warning{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 50px;
  h2{
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
  }
}

.detailrecipient_border{
  border: 4px solid #FFFFFF;
}

@keyframes media-in{
  0%{
    opacity: 0;
    transform: translate3d(60px, 0, 0)
  }
  100%{
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}
.media_wrapper{
  animation: media-in 800ms $ease-out-quint both; 
}

@keyframes slide-left{
  0%{
    opacity: 0;
    transform: translate3d(60px, 0, 0)
  }
  100%{
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}
@keyframes slide-right{
  0%{
    opacity: 0;
    transform: translate3d(-60px, 0, 0)
  }
  100%{
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

.wrapper_card{
  a:nth-child(odd) &{
    animation: slide-left 600ms $ease-out-quint both; 
  }
  a:nth-child(even) &{
    animation: slide-right 600ms $ease-out-quint both; 
  }
}